<div class="accordion accordion-flush" id="accordionFlushExample">

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne"
                    aria-expanded="false"
                    aria-controls="flush-collapseOne">
                Preciso fazer a instalação do dispositivo?
            </button>
        </h2>

        <div id="flush-collapseOne" class="accordion-collapse collapse"
             aria-labelledby="flush-headingOne"
             data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                Não. A instalação é simples e o dispositivo será configurado para realizar o monitoramento do consumo de energia.
            </div>
        </div>
    </div>


    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo"
                    aria-expanded="false"
                    aria-controls="flush-collapseTwo">
                Preciso estar em casa para acompanhar o consumo?
            </button>
        </h2>

        <div id="flush-collapseTwo" class="accordion-collapse collapse"
             aria-labelledby="flush-headingTwo"
             data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                Não. As informações podem ser acessadas remotamente pela plataforma Web ou aplicativo Mobile.
            </div>
        </div>
    </div>


    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree"
                    aria-expanded="false"
                    aria-controls="flush-collapseThree">
                Os dados são atualizados em tempo real?
            </button>
        </h2>

        <div id="flush-collapseThree" class="accordion-collapse collapse"
             aria-labelledby="flush-headingThree"
             data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                Sim. O sistema recebe os dados coletados pelos sensores e apresenta as informações atualizadas para o usuário.
            </div>
        </div>
    </div>


    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFour"
                    aria-expanded="false"
                    aria-controls="flush-collapseFour">
                O sistema mostra o valor da conta de luz?
            </button>
        </h2>

        <div id="flush-collapseFour" class="accordion-collapse collapse"
             aria-labelledby="flush-headingFour"
             data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                Sim. O sistema permite visualizar uma estimativa do consumo e dos valores relacionados ao uso de energia.
            </div>
        </div>
    </div>


    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFive">
            <button class="accordion-button collapsed" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFive"
                    aria-expanded="false"
                    aria-controls="flush-collapseFive">
                O dispositivo interfere na rede elétrica?
            </button>
        </h2>

        <div id="flush-collapseFive" class="accordion-collapse collapse"
             aria-labelledby="flush-headingFive"
             data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                Não. O dispositivo realiza apenas a coleta das informações de consumo, sem interferir no funcionamento da rede elétrica.
            </div>
        </div>
    </div>

</div>