<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">


<div th:fragment="cardsResumo" class="cards-resumo">


    <div class="card-dashboard">

        <div class="icone-card">
            <span class="material-symbols-outlined">bolt</span>
        </div>

        <div>
            <span>Consumo Total Diário</span>

            <h2>
                32.8
                <small>kWh</small>
            </h2>

            <p class="vermelho">
                ↗ 8% a mais que ontem
            </p>

        </div>

    </div>



    <div class="card-dashboard">

        <div class="icone-card">
            <span class="material-symbols-outlined">paid</span>
        </div>

        <div>

            <span>Custo Diário</span>

            <h2>
                3,57
                <small>Reais</small>
            </h2>

            <p>
                → Valor estimado normal
            </p>

        </div>

    </div>



    <div class="card-dashboard">

        <div class="icone-card">
            <span class="material-symbols-outlined">flag</span>
        </div>

        <div>

            <span>Meta de Gasto</span>

            <h2>
                260
                <small>kWh</small>
            </h2>

            <p class="amarelo">
                ↗ 64% da meta atingida
            </p>

        </div>

    </div>



    <div class="card-dashboard">

        <div class="icone-card">
            <span class="material-symbols-outlined">savings</span>
        </div>

        <div>

            <span>Economia Estimada</span>

            <h2>
                3,45
                <small>Reais</small>
            </h2>

            <p class="verde">
                ↘ 10% em relação ao mês anterior
            </p>

        </div>

    </div>


</div>

</html>