<footer th:fragment="footer">

    <div class="footer-container">

        <div class="footer-brand">

            <img th:src="@{/images/logotipo.svg}" alt="">

            <p>
                Monitore seu consumo de energia de forma simples,
                inteligente e em tempo real.
            </p>

            <h3>Redes sociais</h3>

            <div class="social-links">
                <a href="#">
                    <i class="fa-brands fa-instagram" style="color: rgb(0, 0, 0);"></i>
                    Instagram
                </a>

                <a href="#">
                    <i class="fa-brands fa-linkedin-in" style="color: rgb(0, 0, 0);"></i>
                    LinkedIn
                </a>

                <a href="#">
                    <i class="fa-brands fa-github" style="color: rgb(0, 0, 0);"></i>
                    GitHub
                </a>
            </div>

        </div>


        <div class="footer-column">

            <h3>Produto</h3>

            <a href="#">Funcionalidades</a>
            <a href="#">Aplicativo</a>
            <a href="#">Plataforma Web</a>
            <a href="#">Planos e serviços</a>

        </div>


        <div class="footer-column">

            <h3>Suporte</h3>

            <a href="#">Central de ajuda</a>
            <a href="#">Perguntas frequentes</a>
            <a href="#">Contato</a>
            <a href="#">Documentação</a>

        </div>


        <div class="footer-column">

            <h3>Empresa</h3>

            <a href="#">Sobre nós</a>
            <a href="#">Política de Privacidade</a>
            <a href="#">Contato</a>
            <a href="#">Termos de Uso</a>

        </div>

    </div>


    <div class="footer-bottom">

        <p>
            © 2026 Zatts. Todos os direitos reservados.
        </p>

    </div>

</footer>