<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header" class="header-telas">

    <div class="logo-zatts">
        <img th:src="@{/images/logotipo.svg}" alt="" onclick="location.href='/home'">
    </div>

    <nav class="menu-telas">


        <a href="/home"
           class="menu-item"
           th:classappend="${paginaAtual == 'home'} ? 'ativo' : ''">

            <span class="material-symbols-outlined">home</span>

            Painel inicial

        </a>



        <a href="/historico"
           class="menu-item"
           th:classappend="${paginaAtual == 'historico'} ? 'ativo' : ''">

            <span class="material-symbols-outlined">history</span>

            Histórico

        </a>



        <a href="/alertas"
           class="menu-item"
           th:classappend="${paginaAtual == 'alertas'} ? 'ativo' : ''">

            <span class="material-symbols-outlined">warning</span>

            Alertas

        </a>




        <a href="/notificacoes"
           class="menu-item notificacao"
           th:classappend="${paginaAtual == 'notificacoes'} ? 'ativo' : ''">


            <span class="material-symbols-outlined">notifications</span>

            Notificações

            <span class="ponto"></span>

        </a>




        <a href="/configuracoes"
           class="menu-item"
           th:classappend="${paginaAtual == 'configuracoes'} ? 'ativo' : ''">


            <span class="material-symbols-outlined">settings</span>

            Configurações


        </a>


    </nav>

</header>

</html>