<header>
    <nav>
        <img th:src="@{/images/logotipo.svg}" alt="">
        <ul>
            <li><a href="#aplicativo">Baixe o app</a></li>
            <li><a href="#beneficios">Benefícios</a></li>
            <li><a href="#instalacaoResidencial">Instalação residencial</a></li>
            <li><a href="#perguntasFreq">Perguntas frequentes</a></li>
            <li><a href="#contato">Contato</a></li>
        </ul>
        <div class="botoesHeader">
            <a href="/cadastro">Cadastre-se</a>
            <a href="/login">Login</a>
        </div>
    </nav>
</header>