<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org">



<section th:fragment="comparativo"
         class="dashboard-card comparativo">


    <div class="card-header-dashboard">


        <div>


            <h2>
                Resumo comparativo
            </h2>


            <p>
                Veja o gasto em kWh durante os últimos meses
            </p>


        </div>



        <span class="badge-dashboard">


            <span></span>

            Quadro 1


        </span>


    </div>




    <div class="grafico grande">


        <canvas id="chartResumoComparativo"></canvas>


    </div>



</section>



</html>