<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org">


<section th:fragment="meta"
         class="dashboard-card">


    <div class="card-header-dashboard">


        <div>

            <h2>
                Meta de consumo mensal
            </h2>


            <p>
                Acompanhe sua meta para economizar
            </p>


        </div>


    </div>




    <div class="barra-meta">


        <div class="progresso-meta">

        </div>


    </div>




    <div class="meta-info">


        <span>
            0 kWh
        </span>


        <span>
            260 kWh
        </span>


    </div>




    <div class="legenda-meta">


        <div>

            <span class="bolinha-verde"></span>


            Consumo atual:

            <strong>
                166 kWh
            </strong>


        </div>



        <div>

            <span class="bolinha-cinza"></span>


            Meta:

            <strong>
                260 kWh
            </strong>


        </div>


    </div>



</section>


</html>