<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org">


<section th:fragment="valor"
         class="dashboard-card">


    <div class="card-header-dashboard">


        <div>


            <h2>
                Valor da conta (estimado)
            </h2>


            <p>
                Comparativo dos últimos meses
            </p>


        </div>


    </div>



    <div class="grafico conta">


        <canvas id="chartValorConta"></canvas>


    </div>



    <div class="legenda-grafico">


        <span></span>

        Quadro 1


    </div>



</section>


</html>