<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Histórico</title>
    <link rel="stylesheet" th:href="@{/css/manutencao.css}">
    <link rel="stylesheet" th:href="@{/css/headerTelas.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>
<body>
    <div th:replace="~{fragments/headerTelas :: header}"></div>
    <div th:replace="~{fragments/manutencao :: manutencao}"></div>
</body>
</html>