<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org">


<head>

    <meta charset="UTF-8">

    <title>Home</title>

    <link rel="stylesheet" th:href="@{/css/headerTelas.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/dashboards.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

</head>


<body>

<!-- HEADER -->
<div th:replace="~{fragments/headerTelas :: header}"></div>

<div class="container-dashboard">

    <section class="titulo-dashboard">

        <div>

            <h1>
                Dashboard
            </h1>

            <p>
                Acompanhe o consumo elétrico da sua residência
                de forma simples, inteligente e acessível.
            </p>

        </div>


        <div class="data-hora">

            <div>

                <span class="material-symbols-outlined">nest_clock_farsight_analog</span>

                <strong id="live-clock">
                    00:00:00
                </strong>

            </div>


            <span id="live-date"></span>


        </div>


    </section>




    <!-- CARDS -->

    <div th:replace="~{fragments/cards :: cardsResumo}">
    </div>





    <section class="dashboard-grid">

        <div class="ajuste">

            <!-- CONSUMO -->

            <div th:replace="~{fragments/dashboards/consumo :: consumo}">
            </div>

            <!-- META -->

            <div th:replace="~{fragments/dashboards/metaConsumo :: meta}">
            </div>
        </div>

        <!-- COMPARATIVO -->

        <div th:replace="~{fragments/dashboards/comparativo :: comparativo}">
        </div>

        <div>
            <!-- VALOR CONTA -->

            <div th:replace="~{fragments/dashboards/valorConta :: valor}">
            </div>

<!--            STATUS META-->
            <div class="cardMeta">
                <span class="material-symbols-outlined bandeiraMeta">flag_check</span>
                <div class="textoMeta">
                    <h2>Você está dentro da sua meta!</h2>
                    <p>Comparativo dos últimos meses</p>
                </div>
            </div>

        </div>

    </section>


</div>



<script src="https://unpkg.com/lucide@latest"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script th:src="@{/js/script.js}">
</script>


</body>

</html>